//- 
 File Name: aboutme.pug
 Author's name:  Ramandeep Kaur
 Website name: Personal Portfolio
 File description: In this file, I  have given my information.
//
include layout.pug 
doctype html
html
  head
    title #{title}
      h1(style="text-align:center") <u> About Me </u>
  body
      div(class=text-center)
          <h2>Welcome!!! My name is Ramandeep Kaur.</h2> 
              <p style="font-size:22px">I am student of Computer Programming in Georgian College,Barrie.Basically, I am from India but i am international student too.</p>
      <div style="margin-top:450px"></div>
include partials/footer.pug