extends layout
block content
  //- 
     File Name: index.pug
     Author's name:  Ramandeep Kaur
     Website name: Jewellery System
     File description: In this file, I have attached footer.pug file and image.
  //
  <img src="/images/flowers.jpg" alt="Picture 1" width="1520" height="725">
    include partials/footer.pug