//- 
 File Name: contact.pug
 Author's name:  Ramandeep Kaur
 Website name: Jewellery System
 File description: In this file, i have given my all contact information.
//
include layout.pug
doctype html
html
  head
    title #{title}
      h1(style="text-align:center") <u> Types of Jewellery </u>
  body
    <img src="/images/Jewellery.jpg" alt="Picture 1" width="1520" height="725">
include partials/footer.pug