//- 
 File Name: layout.pug
 Author's name:  Ramandeep Kaur
 Website name: Jewellery System
 File description: In this file, i have done attaching header.pug file.
//
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
// include command
include partials/header.pug
block content