//- 
 File Name: services.pug
 Author's name:  Ramandeep Kaur
 Website name: Personal Portfolio
 File description: In this file, i have written all my skilss and languages which i have known.
//
include layout.pug 
doctype html
html
  head
    title #{title}
include partials/footer.pug