//- 
 File Name: projects.pug
 Author's name:  Ramandeep Kaur
 Website name: Jewellery System
 File description: In this file, II have given all the discription of my all the projects which i have done till now.
//
include layout.pug 
doctype html
html
  head
    title #{title}
include partials/footer.pug