//- 
 File Name: services.pug
 Author's name:  Ramandeep Kaur
 Website name: Personal Portfolio
 File description: In this file, i have written all my skilss and languages which i have known.
//
include layout.pug 
doctype html
html
  head
    title #{title}
      h1(style="text-align:center") <u> Services </u>
  body
      <div>
          <h2 style="color:#e07295">Relational Database</h2>
              <p style="font-size:22px"> In the relational database i have learnt Microsoft SQL Server Management Studio and MSSQL Workbench. I have good understanding of parent-child relationships among two tables.</p>
      </div>      
      <div>
          <h2 style="color:#e07295">HTML and CSS</h2>
              <p style="font-size:22px"> I have great knowledge about HTML and CSS.In html, I have learnt all the tags. And, in CSS i have learnt internal as well as external CSS.</p>
      </div>  
      <div>
          <h2 style="color:#e07295">PHP</h2>
              <p style="font-size:22px"> PHP stands for Hypertext PreProcessor.In PHP, I have learnt all the front-end and back-end programming.Besides this, i also learnt different realtionships with table..</p>
      </div>
      // div tag for margin
      <div style="margin-top:150px"></div>
include partials/footer.pug