//- 
 File Name: footer.pug
 Author's name:  Ramandeep Kaur
 Website name: Personal Portfolio
 File description: In this file, I have written my name and course name in p tags.
//
footer(style= "margin-left:20px; border-top: 5px solid #1b26c2")
  p Ramandeep Kaur(200425938) My Personal Portfolio Application
  p Javascript Frameworks COMP2068 
   script(src="~/lib/jquery/dist/jquery.min.js")
   script(src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")