//- 
 File Name: contact.pug
 Author's name:  Ramandeep Kaur
 Website name: Personal Portfolio
 File description: In this file, i have given my all contact information.
//
include layout.pug
doctype html
html
  head
    title #{title}
      h1(style="text-align:center") <u> Contact Information </u>
  body
      <p style="text-align:center"> <b> My Address: </b></p>
      <p style="text-align:center"> 2 Clarence Court, Barrie</p>
      <p style="text-align:center"> Ontario, L4M5J8</p>
      <p style="text-align:center"> <b> E-Mail ID: </b> ramanbalu902@gmail.com</p>
      <div style="margin-top:350px"></div>
include partials/footer.pug