//- 
 File Name: projects.pug
 Author's name:  Ramandeep Kaur
 Website name: Personal Portfolio
 File description: In this file, II have given all the discription of my all the projects which i have done till now.
//
include layout.pug 
doctype html
html
  head
    title #{title}
      h1(style="text-align:center") <u> My Projects </u>
  body
      // staring of div tags
      <div>
          <h2 style="color:#d3bddb">Scramble Points Generator</h2>
              <p style="font-size:22px"> This project is based on Advanced Java. This was point generator game in which each word on the keyword assigned to a number when the users submit the word then the usage of that word decreased. And this game is continued untill the users left with no words.</p>
      </div>      
       <div>
          <h2 style="color:#d3bddb">Jewellery Management System</h2>
              <p style="font-size:22px"> This project is based on ASP.NET Core. In this project, I was made different tables of jewellery.Also, i added  signing options or authentication such as with google as well as with microsoft. Bssically, this project was based on different types of jewellery and its kinds.</p>
      </div>
      <div style="margin-top:200px"></div>
include partials/footer.pug